<h1>Confirmation Compte</h1>
<a class="btn btn-primary" href="{{ absolute_url(path('confirmer_compte',{'id' : admin.id})) }}"> Veuillez Confirmer Votre compte monsieur/madamme
    {{ admin.nom ~' '~ admin.prenom }}
</a>